/* TODO: Make it awesome */
header h1 {
  font-weight: 700;
  font-size: 1.9em;
  text-align: center;
}

#cart thead {
  font-size: 1.3rem;
  font-weight: 700;
}

#cart {
  border-collapse: collapse;
  border-spacing: 0.5rem;
  margin: 2rem auto;
  text-align: center;
  width: 80vw;
}

#cart tr:nth-of-type(2n) {
  background-color: lightblue;
}

#cart th,
#cart td {
  border: 1px solid #aaa;
  padding: 0.5rem;
}

img {
  width: 100px;
  height: auto;
}
